body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }
  body *:focus {
    outline: 0 !important; }
  body .navbar-light .navbar-toggler-icon {
    background-image: url(../img/icons/menu.svg) !important; }

@font-face {
  font-family: AvenirNext;
  src: url(../font/AvenirNextLTPro-Bold.otf); }
.avenir {
  font-family: 'AvenirNext' , serif; }

@font-face {
  font-family: AvenirNextMedium;
  src: url(../font/AvenirNextLTPro-MediumCn.otf); }
.avenirMedium {
  font-family: 'AvenirNextMedium' , serif; }

@font-face {
  font-family: AvenirNextDemi;
  src: url(../font/AvenirNextLTPro-Demi.otf); }
.avenirDemi {
  font-family: 'AvenirNextDemi' , serif; }

@font-face {
  font-family: AvenirRegular;
  src: url(../font/AvenirNextLTPro-Regular.otf); }
.avenirRegular {
  font-family: 'AvenirRegular' , serif; }

.navbar {
  background-color: transparent !important;
  margin-top: 36px; }
  .navbar .navbar-brand {
    margin-left: 6rem;
    font-size: 2rem;
    font-weight: bold; }
    @media (max-width: 767px) {
      .navbar .navbar-brand {
        margin-left: 0rem; } }
  .navbar .navbar-toggler {
    border-color: #fff !important; }
  .navbar .nav-link {
    color: #757575 !important; }
  .navbar .collapse {
    margin-right: 6rem; }
  .navbar .btn-primary {
    background-color: transparent !important;
    border-radius: 3rem !important;
    border-width: 2px !important;
    width: 150px; }

#home {
  margin-left: 7rem;
  margin-top: 48px;
  margin-right: 7rem; }
  @media (max-width: 768px) {
    #home {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 28px; } }
  #home .box_large {
    background: linear-gradient(to bottom right, #FFAA00, #F1726C);
    border-radius: 12px;
    min-height: 60vh;
    flex-direction: column; }
    #home .box_large h1 {
      width: 70%;
      font-size: 48px;
      font-weight: 800; }
      @media (max-width: 767px) {
        #home .box_large h1 {
          width: 80%;
          font-size: 32px; } }
    #home .box_large p {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 2px; }
  #home #box-container {
    width: 62% !important;
    max-width: 80% !important;
    margin-bottom: 5rem;
    margin-top: -7rem; }
    @media (max-width: 768px) {
      #home #box-container {
        width: 100% !important;
        margin-top: -4rem; } }
    #home #box-container .small_box {
      height: 180px;
      width: 240px;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);
      border-radius: 8px;
      background-color: #fff; }
      #home #box-container .small_box h1 {
        font-size: 36px; }

#clubs {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  #clubs h1 {
    font-size: 36px; }
  #clubs .margin {
    width: 80%; }
    @media (max-width: 768px) {
      #clubs .margin {
        width: 100%; } }
  #clubs .club_card {
    height: 400px;
    width: 240px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
    padding: 36px 10px 36px 10px; }
    #clubs .club_card h4 {
      font-size: 24px; }
    #clubs .club_card .top {
      padding-top: 5rem; }

#projects {
  padding-top: 5rem;
  padding-right: 7rem;
  padding-left: 7rem; }
  @media (max-width: 768px) {
    #projects {
      padding-left: 1rem;
      padding-right: 1rem; } }
  #projects h1 {
    font-size: 36px; }
  #projects img {
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 350px; }
    @media (max-width: 768px) {
      #projects img {
        height: auto; } }
  #projects h3 {
    font-size: 24px; }

/*# sourceMappingURL=style.css.map */
