body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  *:focus {
    outline: 0!important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../img/icons/menu.svg)!important; }
}
@font-face {
  font-family: AvenirNext;
  src: url(../font/AvenirNextLTPro-Bold.otf); }
  .avenir {
    font-family: 'AvenirNext' , serif;
  }
  @font-face {
  font-family: AvenirNextMedium;
  src: url(../font/AvenirNextLTPro-MediumCn.otf); }
  .avenirMedium {
    font-family: 'AvenirNextMedium' , serif;
  }
   @font-face {
  font-family: AvenirNextDemi;
  src: url(../font/AvenirNextLTPro-Demi.otf); }
  .avenirDemi {
    font-family: 'AvenirNextDemi' , serif;
  }
   @font-face {
  font-family: AvenirRegular;
  src: url(../font/AvenirNextLTPro-Regular.otf); }
  .avenirRegular {
    font-family: 'AvenirRegular' , serif;
  }
  .navbar {
    background-color: transparent!important;
    margin-top: 36px;
    .navbar-brand {
      margin-left: 6rem;
      font-size: 2rem;
      font-weight: bold;
      @media(max-width: 767px) {
        margin-left: 0rem;
    }
  } 
  .navbar-toggler {
    border-color: #fff!important;
    }
    .nav-link {
      color: #757575!important;
    }
    .collapse {
      margin-right: 6rem;
    }
    .btn-primary {
      background-color: transparent!important;
      border-radius: 3rem!important;
      border-width: 2px!important;
      width: 150px;
    }
  }
  #home {
    margin-left: 7rem;
    margin-top: 48px;
    margin-right: 7rem;
    @media(max-width: 768px) {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 28px;
    }
    .box_large {
      background: linear-gradient(to bottom right, #FFAA00, #F1726C);
      border-radius: 12px;
      min-height: 60vh;
      flex-direction: column; 
      h1 {
        width: 70%;
        font-size: 48px;
        font-weight: 800;
        @media(max-width:767px) {
          width: 80%;
          font-size: 32px;
        }
      }
      p {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 2px;
      }
    }
    #box-container {
      width: 62%!important;
      max-width: 80%!important;
      margin-bottom: 5rem;
      margin-top: -7rem;
      @media(max-width:768px) {
        width: 100%!important;
        margin-top: -4rem;
      }
      .small_box {
        height: 180px;
        width: 240px;
        box-shadow: 0px 8px 24px rgba(0,0,0,0.24);
        border-radius: 8px;
        background-color: #fff;
        h1 {
          font-size: 36px;
        }
      }
    }
  }
  #latest_post {

  }
  #clubs {
    margin-top: 5rem;
    margin-bottom: 5rem;
    h1 {
      font-size: 36px;
    }
    .margin {
     width: 80%;
    @media(max-width: 768px) {
      width: 100%;
    }
    }
   .club_card {
      height: 400px;
      width: 240px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0px 4px 16px rgba(0,0,0,0.24);
      padding: 36px 10px 36px 10px;
      h4 {
        font-size: 24px;
      }
      .top {
        padding-top: 5rem;
      }
    }
  }
  #projects {
    padding-top: 5rem;
    padding-right: 7rem;
    padding-left: 7rem;
    @media(max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    h1 {
      font-size: 36px;
    }
    img {
      border-radius: 12px;
      box-shadow: 0px 4px 16px rgba(0,0,0,0.24);
      width: 100%;
      height: 350px;
        @media(max-width: 768px) {
        height: auto;
      }
    }
    h3 {
      font-size: 24px;
    }
  }
  



